div{
    background-color: black;
    width: 200px;
    height: 300px;

}
#d2{

background-color: rgb(248, 16, 16);
    width: 200px;
    height: 300px;
    margin-right: 200px;
    margin-bottom: -100px;
    
}