/* tag selector */
h1{
    color: rgb(0, 0, 0); 
    background-color: rgb(255, 0, 0);
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;   
}

p{
    color: rgb(238, 0, 0); 
    background-color: rgb(0, 0, 0);
    font-size: medium;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* id selector */
#a1{
    color: aqua;
    background-color: black;
}

/* class selector */
.a2{
    color: brown;
    background-color: cadetblue;
}

/* universal style */

*{
    text-align: center;
}

/* grouping */

h4,h5,h6{color: aqua;
}